/*  prefs.css
*   Open Bar Gnome Extension
*   SPDX-License-Identifier: GPL-2.0-or-later
*   author: neuromorph
*/

.preferences {
    padding: 0px;
    margin: 0px;
}
.preferencespage {
    padding: 0px;
    margin: 0px;
    /* background: transparent; */
}
.preferencesgroup {
    margin: 0px;
}

.openbar-prefs-box {
    padding: 0px;
    margin: 0px;
    /* background: transparent; */
    /* background-color: alpha(@window_bg_color, 1); */
}

.openbar-prefs-box:backdrop {
    color: alpha(currentColor, 0.6);
}

.openbar-titlegrid {

}
.openbar-title {
    /* color: rgb(0, 200, 255); */
    text-shadow: 1px 1px rgba(125, 125, 125, 0.25);
}
.openbar-image {
    border-radius: 14px;
}

.openbar-stack-box {
    border-radius: 14px;
    box-shadow: 0px 0px 2px rgba(125, 125, 125, 0.5);
    background-color: rgba(128, 128, 128, 0.1);
    padding: 0px;
}
.openbar-sidebar StBin {
    padding: 14px;
    border-radius: 14px 0px 0px 14px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
}
.openbar-sidebar .navigation-sidebar > row {
    padding-top: 5px;
    padding-bottom: 5px;
}
.openbar-scroll {
    background-color: mix(@window_bg_color, rgb(128, 128, 128), 0.1);
    border-radius: 0px 14px 14px 0px;
}
.openbar-stack {    
    padding: 18px;
    border-radius: 0px 14px 14px 0px;
    /* background-color: alpha(@window_bg_color, 1); */
}

.openbar-quotebox {
    
}

.openbar-message {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
}



