
#panel.openbar .panel-button {
    padding: 1px;
}

/* #panel.openbar .panel-button:active, .panel-button:checked
{
    border-width: 6px !important;
} */

#panel.openbar .panel-button:hover.clock-display .clock {
    background-color: transparent;
    box-shadow: none;
}

#panel.openbar .panel-button:active.clock-display .clock, #panel .panel-button:overview.clock-display .clock, #panel .panel-button:focus.clock-display .clock, #panel .panel-button:checked.clock-display .clock {
    background-color: transparent;
    box-shadow: none;
}


